body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    width: 600px;
    height: 220px;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.hours,
.minutes,
.seconds{
    width: 130px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background: white;
}

.hours-container,
.minutes-container,
.seconds-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.colon{
    font-size: 120px;
    margin-bottom: 35px;
}

button{
    width: 50px;
    margin: 0 auto;
    border-radius: 10px;
}

.buttons-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.start,
.reset,
.pause{
    width: 120px;
    padding: 10px;
    border-radius: 20px;
}

.up-arrow{
    display: show;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.down-arrow{
    display: show;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    cursor: pointer;
}


